<platypus>
  <div grid [grid-cols]="5" [grid-gap]="4">
    <box box-collapsable box-closeable>
      <box-header [icon]="this.iconHome">Header</box-header>
      <code-block></code-block>
      <box-footer>Footer</box-footer>
    </box>
    <box box-success box-collapsable box-closeable><box-header>Header</box-header> Content <box-footer>Footer</box-footer></box>
    <box box-warning box-collapsable box-closeable> <box-header>Header</box-header> Content <box-footer>Footer</box-footer> </box>
    <box box-error box-collapsable box-closeable><box-header>Header</box-header> Content <box-footer>Footer</box-footer></box>
    <box box-info box-collapsable box-closeable><box-header>Header</box-header> Content <box-footer>Footer</box-footer></box>
  </div>
</platypus>
